@import 'grapesjs/src/styles/scss/main.scss'
@import './plugins/template-manager/main.scss'

:root
  --gjs-main-font: "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif
  --gjs-font-size: 0.77rem
  --gjs-main-color: #444
  --gjs-main-color: #444
  --gjs-primary-color: #444
  --gjs-secondary-color: #ddd
  --gjs-tertiary-color: #3b7be3
  --gjs-quaternary-color: #6c9ff0

[class^="gjs-"],
[class^="gjs-"] > *
  font-weight: 400 !important

[class^="gjs-btn-"]
  font-weight: 500 !important

.gjs-two-color
  color: $grey-5 !important

.gjs-block-label
  font-family: var(--gjs-main-font)
  font-size: var(--gjs-font-size)

.gjs-three-bg
  background-color: var(--gjs-tertiary-color) !important

.gjs-four-color
  color: var(--gjs-secondary-color) !important

.gjs-four-color-h:hover
  color: var(--gjs-quaternary-color) !important

.gjs-device-label
  display: none

.gjs-block__media > *
  width: 35px
  height: 35px

.gjs-pn-devices-c
  padding-top: 2px

/* Flex Settings */
.icons-flex
  background-size: 30% 65% !important
  height: 25px
  opacity: 0.9

/* Small devices (landscape phones, 600px and up) */
@media (min-width: 600px)
  .gjs-sm-4
    flex: 0 0 33.333% !important
    max-width: 33.333% !important
    padding-left: 10px !important
    padding-top: 10px !important

.icon-dir-row
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAQAAABu4E3oAAAAmElEQVR42mNgGFTgv9F/XlK1VP9vIVVLxf///9f85wIxL/1/SBT8+B8Ebv03Yfj/9z9pYBbD/5D/UUTBNf/////zP4MUv9T/f/PfnDTvW/+Xom+sTv8/HwMmQ+WSschNZ8AakCugWlZgk2T4/wmL6HyolvlY5D6NaiFdyx8swkuhWpZikfvD8H/T/90YsBSqpRSL3Cb6pEoApipfvWlasv4AAAAASUVORK5CYII=") no-repeat center

.icon-dir-row-rev
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAQAAABu4E3oAAAAmklEQVR42mNgoCP4z/rfklQt+f+nkKKc6f/M////zyReg8b/0/9B4Mv/h0TBSwz/2/6TBv6C7An5//X////7/0cRBUMgjtP8f///IlJDjP+/C8PgAv+n/5+PAZOhcslY5KYzYA3IFVAtK7BJMvz/hEV0PlTLfCxyn0a1kK7lDxbhpVAtS7HI/WH4v+n/bgxYCtVSikVuE31SJQB651+YVbhQpAAAAABJRU5ErkJggg==") no-repeat center

.icon-dir-col
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAQAAABu4E3oAAAAjUlEQVR42mP4z/Cf4f/0/58w4HWwDAQ+/P/7vx2MB6EW/scET5G0fPr//78zqpb5WLQ8HtVCXS0rsGj5iF9L8v/5GLAPvxZCcMC0kOEXMkJsZKQxo/8N/2v+//z////8/03/rYnRwvt/Jlzk/n9JYh12AMz/8l+d+BJG5P+L////B6P6hVA55va/B8EDAI2wiXAAu5T7AAAAAElFTkSuQmCC") no-repeat center

.icon-dir-col-rev
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAQAAABu4E3oAAAAlklEQVR4nGP4z/Cf4f/0/58w4HWwDARa/q9A8CDUwv+Y4ClcEdf/O////3dE1TIfi5bHcC3rwPzX/6WJ08L6vxUucuE/PzFaLP/P+T/n/6////9v+7/4vwuxDmP4/+n////OpPhlALWswKLlI34tyf/nY8A+/FoIwQHTQoZfyAixQRv7w0kL/hIGqxZC5djD/7//28F4ACkxiVBTnab+AAAAAElFTkSuQmCC") no-repeat center

.icon-just-start
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAQAAABu4E3oAAAAhklEQVR42uXRIQ6DQBSE4bkoCZYDILDIisolZDch4NCcoaooPBeoarjAj+DpzYZQ0TBqxHxqpHuHhZU6cVuzsgiALpF0AOcJGS2OhlLigcPRksVJz5G3xNd6HyfBZi+Jj/VwHzLYbJbYrA9xkhPweCqJJx5PIL/6/Z+TkYkikRRMjGnb/8gOCtdTdcola/gAAAAASUVORK5CYII=") no-repeat center

.icon-just-end
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAQAAABu4E3oAAAAgklEQVR4nOWRMQ5AQBQF/0UlWgdQaJUK5YrYROjUzqCi0ruASlxgBL/ebLGNmOoVM9UT+TesbOT4uTkbq3DTeibtLYdLiKgxGAqElApDTeROOl4OhFl3506sajvCpNv+J+lVOxEW3b07ibE0NJQI2bMscej3gycDI4lnkjAyeKkf4QI4JmxcPjtU5wAAAABJRU5ErkJggg==") no-repeat center

.icon-just-sp-bet
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAQAAABu4E3oAAAAgklEQVR42uXTIQ6AMAyF4V2UBMsBJrAcAkK2hICb5gwopuY5y4+gZknFAsFAZd/7VFNj/j0kDrrCbsdBMgBMhWQCuE+oGOkZsErRMtAzUuVk5ppdIbtkc068rDeFbJL575JF1lEhUbIlJzUeh6NVSIvD4amfXv91ElhpCknDSvjS658Lu1JI6KjOygAAAABJRU5ErkJggg==") no-repeat center

.icon-just-sp-ar
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAQAAABu4E3oAAAAhElEQVR4nOWRMQqDQBBF954SSeshUughNsgsrkoaa29iqgQ8y7PY0SqBAWMR/N3/vNfMOHfuMDFTGdmKmckBEI1KBNircOOOp+aiPUPweGJaPikvUjrtgTXNN+WpQNBeb0o4g/JWoLdfrEQQAlftOS2C8EjLb75/oDIwUhiVgpHBxv5HFo0GYnu/WSQbAAAAAElFTkSuQmCC") no-repeat center

.icon-just-sp-cent
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAQAAABu4E3oAAAAfUlEQVR42uWTsQmAMBQF36KCbcApHEIRA6KdpQi6h72znER/HQJqo6+64q76ifTvsbFTJrolO5sI6xKTLsj3EzIaKmqchKOmoiGLJz3XFonFuI8n3rRJYjL2/0kG01aJ1XiIJzmelpZCojjJkz99/deSkTm8qKTEMTN+6esfzgFQ+nn6DM8AAAAASUVORK5CYII=") no-repeat center

.icon-al-start
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAQAAABu4E3oAAAAgUlEQVR42u2UPQqDYBAF31EF7+EBJEf4fqoEL+AhUohXEFG75AqTZosQw0YkjeBss8Ub2GafZJDxyfqE5ofSrJWS7E6p71DzYGDkLtEyMfCklgfRzpglOtujrwSLTW9KOKiSLLZI9LYnXym4EohcJCoSgRuFTk7+wI7f39Mwm3vsBUE1TUDiFO52AAAAAElFTkSuQmCC") no-repeat center

.icon-al-end
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAQAAABu4E3oAAAAgUlEQVR42u2UsQ2DQBAEt1Qk6nAFXwL/fIIlGnATlpBrQAZCXMI4uQBh+cCWE0vMJRfsZHcrGWR8stbQbijtq1KS3Sl1cPADKGioiASJE4mKM4Wv1Ha3k8TN9tpXosUGic72+KdKsti4UJKvBGZ67lwlLoz0PAjvwp///jcNs7vHnq1yTUH60JbFAAAAAElFTkSuQmCC") no-repeat center

.icon-al-str
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAQAAABu4E3oAAAAl0lEQVR42u2UMQrCQBBF/11zDS20tbI3bruiGwxu5w2CjUERBLHQezxhnUpNlLTmVR9mHkzzRzJwtOP0Cv6L4t+VDIdjSWRDpMQRLK/SJNNnGHGh5sBWYsqZmitjtUFuZ9wlSsvzdmVmazeJteW8V3rlH5QOfRlwpGJHlJiwp+LEsGn52X1PQSCkvi9SLvAN3e/yYX7+Yw/vFxzefb2+kwAAAABJRU5ErkJggg==") no-repeat center

.icon-al-center
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAQAAABu4E3oAAAAgElEQVR42u2UMQqDQBBF/0UFwVNYpE5hvyIuLFp5GStzhFTiHZ4QpkrCKNvqm+YX/1XDjGSQ8En6hulAmX6ViuROpZs/UNARCDwlaloCHYWvDLaFVWKxPPhKtNpbYrYcr6OMVtskXpZHXymJ9PQ0Eo9PipQZC74AGbef82FO/7EdOu1ddQEYpHIAAAAASUVORK5CYII=") no-repeat center

[data-tooltip]::after
  background: rgba(51, 51, 51, 0.9)

.gjs-pn-commands
  min-height: 40px

#gjs-sm-float
  display: none

.gjs-pn-btn.gjs-pn-active
  box-shadow: none

.CodeMirror
  min-height: 450px
  margin-bottom: 8px

.grp-handler-close
  background-color: transparent
  // color: #ddd

.grp-handler-cp-wrap
  border-color: transparent
